@font-face {
  font-family: ardestine;
  src:url('../fonts/ARDESTINE.ttf') format('truetype');
}

@font-face {
  font-family: aero;
  src:url('../fonts/aero.ttf') format('truetype');
}

body {
  padding-top: 50px;
  background:#323232;
}

.navbar{
  background:#3F3F3F;
}

.nav-center{
  margin-left:25%;
}

#brand{
  font-family:ardestine;
  font-size:40px;
}

.nav-center li a{
  font-size:18px;
}

.nav-center li{
  -ms-transition:.5s ease-in-out;
  -moz-transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
  transition:.5s ease-in-out;
}
.nav-center li:hover{
  background:#969696;
  -ms-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.nav-center li a img{
  width:20px;
  height:20px;
  margin-right:5px;
}

.nav-active{
  background:#969696;
}

.main-block {
  padding: 50px 15px;
  text-align: center;
  margin-top:25px;
  color:White;
  font-family:aero;
  margin-bottom:20px;
}

.main-block h1{
  color:#969696;
  font-size:50px;
}

.content{
  text-align:center;
}

.web,.mobile,.other{
  float:left;
  margin:5px;
}
