html{
  background-color: rgb(94, 118, 255);
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  padding-top: 30px;
  color: #fff;
  text-align: center;
  position: relative;
  background: url("../img/waves2.svg") center bottom no-repeat;
  background-size: cover;
}

#main-pic{
  width: 110px;
  object-fit: contain;
  border-radius: 50%;
  border: #fff 2px solid;
  /* background: #fff; */
}

.about{
  text-align:center;
  padding: 50px;
  margin-top: 50px;
}

#intro-social li{
  margin-top: 50px;
  display: inline-block;
  margin-right: 10px;
}
#intro-social li a{
  text-decoration: none;
  background: #fff;
  color: #000;
  margin: 0px 20px 0px 0px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.5s;
}
#intro-social li a:hover{
  background: rgb(0, 162, 255);
  color: #fff;
}

#intro-social li a i{
  font-style: normal !important;
}

/* Style the buttons inside the tab */
.tab button {
  background: none;
  border: none;
  color: #fff;
  border-bottom: #fff 2px inset;
  outline: none;
  padding: 10px 15px 10px 15px;
  margin: 0px 20px 5px 0px;
  transition: 0.3s;
  font-size: 1.2em;
}

.tab button:hover{
  border-bottom: rgb(255, 0, 128) 2px inset;
  color: rgb(255, 0, 128);
}

/* Create an active/current tablink class */
.tab button:active {
  background-color: rgb(82, 84, 243);
}

#contact{
  margin-top: 50px;
  padding: 200px 0px 20px 0px;
}

#contact ul li{
  display: inline-block;
  margin-right: 20px;
  font-size: 2em;
}

a{
  text-decoration:none;
}

.overlay{
  display: none;
  width: 100%;
  height: 100vh;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  background: #000;
  border: rgb(0, 195, 255) 1px solid;
}
.overlay.open{
  display: block;
  animation: overlayOpen 1.3s ease-in-out forwards;
}
.overlay.close{
  display: block;
  animation: overlayClose 1.3s ease-in-out forwards;
}

.overlay .content{
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 50px 0;
  position: relative;
  background: url("../img/waves.svg") center bottom no-repeat;
  background-size: cover;
  overflow-y: auto;
}
.overlay .content.show{
  animation: contentShow 1s ease forwards 1.3s;
}
.overlay .content.hide{
  animation: contentHide 1s ease forwards;
}

#Skills ul{
  list-style: none;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 50vw;
}

#Skills ul li{
  text-align: left;
  display: inline-block;
  padding: 2px 10px;
  margin: 10px;
  min-width: 10em;
  font-size: 1.5em;
}

@keyframes overlayOpen {
  0%{
    transform: translateY(100vh);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    box-shadow: none;
  }

  50%{
    transform: translateY(-70px);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    box-shadow: none;
  }

  70%{
    transform: translateY(60px);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    box-shadow: none;
  }

  76%{
    box-shadow: 0px 0px 0px 100vh rgb(0, 255, 191);
  }

  80%{
    transform: translateY(0px);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
  }
  
  98%{
    box-shadow: 0px 0px 0px 200vh rgb(0, 195, 255);
  }

  100%{
    transform: translateY(0);
    width: 100%;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
}

@keyframes overlayClose {
  0%{
    transform: translateY(0);
    width: 100%;
    height: 100vh;
    border-radius: 0;
    opacity: 1;
  }

  50%{
    transform: translateY(0px);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 1;
  }

  70%{
    transform: translateY(60px);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 1;
  }

  80%{
    transform: translateY(-70px);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 1;
  }

  100%{
    transform: translateY(100vh);
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 1;
  }
  
}

@keyframes contentShow {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes contentHide {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  #Skills ul{
    width: 90vw;
  }
}