/*custom color to the scrollbar --WEBKIT--*/
::-webkit-scrollbar {color:#999;background-color:#999;}
::-webkit-scrollbar-button {color:lightgreen;background-color:lightgreen;}
::-webkit-scrollbar-track {color:#999;background-color:#999;}
::-webkit-scrollbar-track-piece {color:#999;background-color:#999;}
::-webkit-scrollbar-thumb {color:lightgreen;background-color:lightgreen;}

@font-face {
  font-family: ardestine;
  src:url('../fonts/ARDESTINE.ttf') format('truetype');
}
@font-face {
  font-family: aero;
  src:url('../fonts/aero.ttf') format('truetype');
}
@font-face {
  font-family: amo;
  src:url('../fonts/AMOceanus.ttf') format('truetype');
}
@font-face {
  font-family: t248;
  src:url('../fonts/tt0248m_.ttf') format('truetype');
}

  /*body*/
body {
  padding-top: 50px;
}

.navbar{
  background:#FFF;
}

#brand{
  font-family:ardestine;
  font-size:30px;
}

.main-block {
  padding: 50px 15px;
  text-align: center;
  margin-top:25px;
  color:black;
}

.logo{
  font-family:ardestine;
}

#logo_s{
  font-size:80px;
  color: #33ccff;
}
#logo_g{
  font-size:40px;
}

.title{
  color:#969696;
  font-family:aero;
  font-size:40px;
  margin-bottom: 30px;
}

#intro{
  color:#999;
  font-family:aero;
  margin-bottom: 30px;
}

#btn-open{
  color: white;
  background: cyan;
  font: tt248;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
  border: lightgreen solid 2px;
}
#btn-open:hover{
  background: lightgreen;
}

.portfolio{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-top: #33ccff solid 5px;
  background: #fff;
  margin-top: 50px;
  overflow: scroll;
  display: none;
  -ms-animation:slideInUp 1s;
  -moz-animation:slideInUp 1s;
  -webkit-animation:slideInUp 1s;
  animation:slideInUp 1s;
}

#btn-close{
  font-size: 20px;
  color: black;
  background: #acacac;
  border-radius: 20px;
  padding: 10px;
  margin-right: 5px;
  float: right;
}

.hobbies{
  font-size:30px;
  text-align:center;
  margin-bottom:80px;
  border-top: 2px solid lightgreen;
}

.head{
  color:#969696;
  font-family:aero;
  text-align:center;
}
.lead{
  font-size:20px;
  color: black;
}

.hobbies img{
  width:200px;
  height:200px;
  padding:30px;
  margin:10px;
  background: #ACACAC;
}

.hobbies img:hover{
  -ms-animation:pulse 1s;
  -moz-animation:pulse 1s;
  -webkit-animation:pulse 1s;
  animation:pulse 1s;
}

.about{
  text-align:center;
  font-family:aero;
  margin-top:50px;
  margin-bottom:80px;
}

.work{
  text-align:center;
  font-family:aero;
  border-top: 2px solid red;
  margin-bottom:50px;
}

.skill{
  text-align:center;
  font-family:aero;
  border-top: 2px solid yellow;
}

.contact{
  text-align: center;
  background: #ACACAC;
  font-family: aero;
  padding-bottom:80px;
}

.contact p{
  color: white;
  font-size: 20px;
}

#cc-p a{
  color: #33ccff;
}

.contact ul{
  border-bottom: 2px solid #33ccff;
}
.contact ul li{
  display: inline-block;
  margin-right: 20px;
}

.contact ul li img{
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.contact ul li img:hover{
  -webkit-animation:pulse 1s infinite;
  -moz-animation:pulse 1s infinite;
  -ms-animation:pulse 1s infinite;
  animation:pulse 1s infinite;
}

a{
  text-decoration:none;
}
