  /*body*/
body {
  font-family: Arial;
  padding-top: 30px;
}

.main-block {
  text-align: center;
  margin-top:30px;

}

.title{
  color:#999;
  font-size:30px;
}

#intro{
  color:#000;
}

#main-pic{
  webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 1));
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 1));
}

.tab {
  overflow: hidden;
  background-color: rgb(36, 36, 36);
  color: #fff;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(65, 65, 65);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(0, 0, 0);
}

/* Style the tab content */
.tabcontent {
  display: none;
  min-height: 400px;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  background: #000;
  color: #fff;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.column {
  float: left;
  width: 33%;
  text-align: center;
}

.row{
  margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#column1 .skill{
  background: rgba(60, 120, 131, 0.5);
  padding: 10px;
  margin: 5px;
}
#column2 .skill{
  background: rgba(60, 131, 75, 0.5);
  padding: 10px;
  margin: 5px;
}
#column3 .skill{
  background: rgba(131, 60, 60, 0.5);
  padding: 10px;
  margin: 5px;
}

.job-item{
  border: #727272 solid 1px;
  margin: 5px;
}

.job-item h3{
  color: #999;
}
#column1 .job-item h3{
  color: rgb(60, 120, 131);
}
#column2 .job-item h3{
  color: rgb(60, 131, 75);
}
#column3 .job-item h3{
  color: rgb(131, 60, 60);
}


.about{
  text-align:center;
  padding: 50px;
  background: white;
}

#Contact{
  text-align: center;
}

#Contact ul li{
  display: inline-block;
  margin-right: 20px;
}

#Contact ul li img{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
#Contact ul li img:hover{
  -webkit-animation:pulse 1s infinite;
  -moz-animation:pulse 1s infinite;
  -ms-animation:pulse 1s infinite;
  animation:pulse 1s infinite;
}

a{
  text-decoration:none;
  text-align: center;
}
