body {
  padding-top: 50px;
}

#head-name{
  
}

.navbar{
  background:DarkCyan;
}

.nav-center{
  margin-left:29%;
}

.nav-center li a{
  font-size:18px;
}

.nav-center li{
  -ms-transition:.5s ease-in-out;
  -moz-transition:.5s ease-in-out;
  -webkit-transition:.5s ease-in-out;
  transition:.5s ease-in-out;
}
.nav-center li:hover{
  background:#10B7B3;
  -ms-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.nav-center li a img{
  width:20px;
  height:20px;
  margin-right:5px;
}

.nav-active{
  background:Red;
}

.main-block {
  padding: 50px 15px;
  text-align: center;
  margin-top:20px;
  margin-bottom:100%
}
